@charset "utf-8";

@mixin common-styles {
  /*
   * Nanum Gothic (Korean) http://www.google.com/fonts/earlyaccess

  @font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 400;
    src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.eot);
    src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
         url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.woff2) format('woff2'),
         url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.woff) format('woff'),
         url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 700;
    src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.eot);
    src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),
         url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.woff2) format('woff2'),
         url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.woff) format('woff'),
         url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 800;
    src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.eot);
    src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.eot?#iefix) format('embedded-opentype'),
         url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.woff2) format('woff2'),
         url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.woff) format('woff'),
         url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.ttf) format('truetype');
  }
   */
  /* reset */
  html, body, div, span, object, iframe,
  h1, h2, h3, h4, h5, h6, p,
  a, address, del,em, img, strong,
  dl, dt, dd, ol, ul, li, fieldset, form,
  label, legend, table, caption, tbody, tfoot,
  thead, tr, th, td, article, aside, canvas, details,
  embed, figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
      font-size:100%;
      vertical-align:baseline;
      background:transparent;
  }
  body, html{font-family:Dotum, 'Nanum Gothic';font-weight:400;font-size:12px;height:100%}
  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display:block;line-height:0;}
  ol, ul, li{list-style:none;}
  table{border-collapse:collapse;border-spacing:0;}
  h1, h2, h3, h4, h5, h6{font-weight:normal;font-size:0;}
  input,textarea, select, td, th{vertical-align:middle;}
  hr{display:none;}
  a{margin:0;padding:0;border:0;background:transparent;text-decoration:none;font-size:100%;color:#000;}
  a:link, a:visited, a:hover, a:active, a:focus{text-decoration:none;}
  em, address{font-style:normal;}
  fieldset{border:0;vertical-align:top;}
  button{display:inline-block;font-size:0;margin:0;padding:0;border:none;background:none;text-align:center;vertical-align:middle;white-space:nowrap;cursor:pointer;}
  select::-ms-expand {/* IE 8 */-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";/* IE 5-7 */filter: alpha(opacity=0);/* Good browsers :) */opacity:0;}
  select{-moz-box-sizing:border-box;-ms-box-sizing:border-box;-o-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-appearance: none;-moz-appearance: none;-ms-appearance: none;-o-appearance: none;appearance: none;padding:0;margin:0;border-radius:0;}
  sup{display:inline-block;margin-top:-5px;}
  .clear{clear:both;}
  .blind{position:absolute;top:-99999em;left:-99999em;display:block;width:1px;height:1px}
  .dim{width:100%;height:100%;position:fixed;top:0px;left:0px;z-index:800;opacity: 0.8;background:url('../images/bg_dim.png') repeat;}

  /* select */
  .select{display:inline-block;background:#fff;height:23px;line-height:23px;vertical-align:top;}
  .select select{width:100%;height:100%;border:1px solid #bbb;background:url('/publish/img/bg_select.png') right center no-repeat;padding-left:5px;font-size:12px;}

  /* input[type="text"] */
  .input{display:block;height:21px;}
  .input input{margin:0;padding:0;background:#fff;height:100%;line-height:21px;border:1px solid #bbb;padding-left:5px;}


  /* input[type="checkbox"] */
  .check {display:block;}
  .check input[type="checkbox"] {display:none;}
  .check input[type="checkbox"] + label{font-weight:bold;display:block;height:14px;line-height:17px;margin:0 0 0 0;padding-left:18px;font-size:12px;color:#666;vertical-align:middle;background:url('/publish/img/check_off.png') 0 0 no-repeat;cursor:pointer;}
  .check input[type="checkbox"]:checked + label{background:url('/publish/img/check_on.png') 0 0 no-repeat;}
  .check.all input[type="checkbox"] + label{background:url('/publish/img/allcheck_off.png') 0 0 no-repeat;}
  .check.all input[type="checkbox"]:checked + label{background:url('/publish/img/allcheck_on.png') 0 0 no-repeat;}

  /* input[type="radio"] */
  .radio{display:block;}
  .radio input[type="radio"] {display:none;}
  .radio input[type="radio"] + label{font-weight:bold;display:block;height:14px;line-height:17px;margin:0 0 0 0;padding-left:18px;font-size:12px;color:#666;vertical-align:middle;background:url('/publish/img/radio_off.png') 0 0 no-repeat;cursor:pointer;}
  .radio input[type="radio"]:checked + label{background:url('/publish/img/radio_on.png') 0 0 no-repeat;}
}
